<% @cards.each do |card| %>
  <p>
    <strong>Front: </strong>
    <%= card.front %>
  </p>
  <p>
    <strong>Back: </strong>
    <%= card.back %>
  </p>
<% end %>

<%= link_to "Back to Deck", deck_path(@deck) %>